# Build directories
**/build/
**/build-*/
**/x64/

# Visual Studio
*.sln
*.vcxproj*
*.vcproj*
*.user
*.opensdf
*.sdf
*.suo
ipch/
.vs/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# vcpkg
vcpkg_installed/
vcpkg-manifest-install.log

# Python
**/__pycache__/
*.pyc

# OS
Thumbs.db
*.DS_Store
